<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.lbviews">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DragViewActivity" />
        <activity android:name=".activity.LeafsLoadingActivity" />
        <activity android:name=".activity.StepsActivity" />
        <activity android:name=".activity.ImageStepsActivity" />
        <activity android:name=".activity.MoveActivity" />
        <activity android:name=".activity.SpiderActivity" />
        <activity android:name=".activity.SimpleBerSaierActivity" />
        <activity android:name=".activity.BersaierCircleActivity"></activity>
    </application>

</manifest>